<p-accordion>
    <!-- <p-accordionTab header="Categorias" [selected]="true">
       <p-dataList [value]="listaCategoria" >
          <ng-template let-categoria pTemplate="item">
          {{categoria.nome}}
          </ng-template>
       </p-dataList>
    </p-accordionTab> -->
    <p-accordionTab header="Produtos ({{itensProduto}})" [selected]="true">
       <p-dataList [value]="listaProduto" >
          <ng-template let-produto pTemplate="item">
            {{produto.nome}} ( {{produto.quantidade}} {{produto.categoria.nome}} no total e  {{produto.quantidade / itensCliente  | fixed:2}} {{produto.categoria.nome}} por pessoa) 
          </ng-template>
       </p-dataList>
    </p-accordionTab>
    <!-- <p-accordionTab header="Pedidos" [selected]="true">
       <p-dataList [value]="listaPedido" >
          <ng-template let-pedido pTemplate="item">
          {{pedido.cliente}}
          </ng-template>
       </p-dataList>
    </p-accordionTab> -->
    <p-accordionTab header="Convidados ({{itensCliente}})" [selected]="true">
            <p-dataList [value]="listaCliente" >
               <ng-template let-cliente pTemplate="item">
               {{cliente.nome}}
               </ng-template>
            </p-dataList>
         </p-accordionTab>



</p-accordion>